{% extends 'osat/base.html' %}
{% block body %}
<h1 style="color:#d6d6d6;">Alumni Registration</h1>
    <form method="post"> {% csrf_token %}
        <div class="rform">
        <label >First Name</label>
        {{ detailsform.fname }}
	<label >Last Name</label>
        {{ detailsform.lname }}
	<label >year of pass out from toc h</label>
        {{ detailsform.year_pass }}
	<label >student (y/n)</label>
        {{ detailsform.student }}
	<label >institution name</label>
        {{ detailsform.inst_name }}
	<label >Phone number </label>
        {{ detailsform.phno }}
	<label >email id</label>
        {{ detailsform.email }}
	<label >street</label>
        {{ detailsform.a_street }}
	<label >city</label>
        {{ detailsform.a_city }}
	<label >state</label>
        {{ detailsform.a_state }}
	<label >country</label>
        {{ detailsform.a_country }}
	<label >Pin</label>
        {{ detailsform.a_pin }}
        <div class="pbutton">
        <input type="submit" class="btn btn-primary">
        </div>
        </div>
    </form>
{% endblock %}