{% extends 'osat/base.html' %}
{% block body %}
<div id="reg1">
<h1 style="color:#d6d6d6;">Alumni Registration</h1>
    <form method="post"> {% csrf_token %}
        <div class="rform" id="reg2" style="width:120%;">
    <label >First Name</label>
        {{ detailsform.fname }}
	<label >Last Name</label>
        {{ detailsform.lname }}
	<label >year of pass out from toc h</label>
        {{ detailsform.year_pass }}
	<label >student (y/n)</label>
        {{ detailsform.student }}
	<label >institution name</label>
        {{ detailsform.inst_name }}
	<label >Phone number </label>
        {{ detailsform.phno }}
	<label >email id</label>
        {{ detailsform.email }}
        <div class="pbutton" id="reg3">
        <input type="submit" class="btn btn-primary">
        </div>
        </div>
    </form>
  </div>
{% endblock %}