{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OSAT</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'osat/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="{% static 'osat/script.js' %}"></script>

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-left">
  <a href="{% url 'osat:index' %}"><img src="{% static 'osat/logo.jpg' %}" style="width:200px;height:200px;padding:10px;"></a>
  <ul class="nav navbar-nav" style="padding-left:20px;">
        <li><a href="{% url 'osat:index' %}">Home</a></li>
        <li><a href="{% url 'osat:a_registration' %}">Alumni Registration</a></li>	
        <li><a href="h_registration/">Homecoming Registration</a></li>
        <li><a href="e_registration">Other Events Registration</a></li>
        <li><a href="c_us">Contact Us</a></li>
        <li><a href="{% url 'osat:about' %}">About</a></li>
      <li>
          <div class="icon-bar">
  <a href="#" style="a:hover {color:blue;}"><i class="fa fa-facebook-f" style="font-size:30px;"></i></a>
  <a href="#"><i class="fa fa-instagram" style="font-size:30px;"></i></a>
  <a href="#"><i class="fa fa-whatsapp" style="font-size:30px;"></i></a>
</div>
      </li>
  </ul>
</div>

<div class="container">
 <div class="row">

 </div>
</div>
<div class="row">
<svg viewBox="0 0 960 300" class="svg-main-logo">
    <symbol id="s-text">
		 <text text-anchor="middle" x="50%" y="80%">osat </text>
	</symbol>
	<a href="{% url 'osat:index' %}" style="text-decoration:none;">
	<g class = "g-ants">
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
	</g>

	</a>

</svg>

<hr style="margin-left:200px;">
 <div class="collapse navbar-collapse" id="menu-items" >
            <ul class="nav navbar-nav navbar-right">
                <li><a class="noti" href="#" data-target="#notifications" data-toggle="collapse" style="color:white;padding-right:30px;"><i class="material-icons" style="font-size:40px;color:#f22424;">notifications</i></a></li>
             <!--   <li><a href="#" style="color:white;">Message</a></li>
                <li><a href="#" style="color:white;">Profile</a></li>-->

            </ul>
 </div>

   
</div>




<div class="container" style="padding-left:230px;">
 <div class="row">
     <div class="col-md-8">
{% block body %}



{% endblock %}
     </div>
  <div class="col-md-4">
<div class="collapse" id="notifications" style="width:100%;">
        <hr>
            <div class="row" style="width:100%;">

                  <div class="col-sm-1" >
                    <!--<img src="resources/dp.jpg" style="width:40px; height:40px;">-->
                  </div>
                  <div class="col-sm-11" style="color:white;">
                      {% for n  in notif %}
                    <span >{{n.title}}</span><br>
                    <span >{{n.description}}</span><br>
                    <span >{{n.fname}}</span><br>
                    <span>{{n.timestamp}}</span><br>
                      <hr>
                      {% endfor %}
                  </div>
            </div>
            <hr>
        </div>
  </div>
 </div>
</body>

</html>
