{% extends 'osat/base.html' %}
{% load staticfiles %}
{% block body %}
<button type="button" class="btn btn-primary"><a href="{% url 'osat:ec_registration' %}">Create an event</a></button>
<button type="button" class="btn btn-primary"><a href="{% url 'osat:er_registration' %}">Register for an event</a></button>
<button type="button" class="btn btn-primary"><a href="{% url 'osat:el_registration' %}">Log in</a></button>
<button type="button" class="btn btn-primary"><a href="{% url 'osat:el_registration3' %}">View events you have registered for</a></button>
{% endblock %}