{% extends 'osat/base.html' %}
<!--{% block mod %}
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Subscribe our Newsletter</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}
-->
{% block body%}
<!--<button class="btn btn-primary"data-toggle="modal" data-target="#login-modal">Login</button>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    	  <div class="modal-dialog">
				<div class="loginmodal-container">
					<h1>OSAT </h1><br>
				  <form>
					<input type="text" name="user" placeholder="mobile number">
					<input type="password" name="pass" placeholder="unique code">
					<input type="submit" name="login" class="login loginmodal-submit" value="Login">
				  </form>

				  <div class="login-help">
					<a href="#">Register</a> - <a href="#">Forgot Password</a>
				  </div>
				</div>
			</div>
		  </div>
-->
<!--<div class="modal text-center" id="logo-modal">
  <div class="modal-dialog" role="document"  >
	  <svg viewBox="0 0 960 300" class="svg-logo" >
    <symbol id="s-text">
		 <text text-anchor="middle" x="50%" y="80%">osat </text>
	</symbol>
	<a href="{% url 'osat:index' %}" style="text-decoration:none;">
	<g class = "g-ants">
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
	</g>

	</a>

    </svg>
    <p style="font-size:15px;">click anywhere</p>
  </div>
</div>
-->




{% endblock %}
{% block body2 %}
<div class="collapse navbar-collapse" id="menu-items" >
            <ul class="nav navbar-nav navbar-right">
                <li><a class="noti" href="#" data-target="#notifications" data-toggle="collapse" style="color:white;padding-right:30px;"><i class="material-icons" style="font-size:40px;color:#f22424;">notifications</i></a></li>
             <!--   <li><a href="#" style="color:white;">Message</a></li>
                <li><a href="#" style="color:white;">Profile</a></li>-->

            </ul>
 </div>
{% endblock %}